.app-loading {
	&__title {
		font-size: 18px;
		font-weight: 500;
		color: var(--grey-grey-light);
		text-align: center;
		margin-top: 50px;
	}
}

.app-edit-category {
	position: absolute;
	top: 17px;
	right: 10px;
	display: inline-block;
	z-index: 2;
	i {
		font-size: 20px !important;
		color: var(--red-delete);
		margin-left: 3px;
		margin-right: 10px;
		&:hover {
			color: var(--red-delete-hover);
		}
	}
}

.app-edit-subcategory {
	display: inline-block;
	i {
		margin-top: 4px;
		font-size: 20px !important;
		color: var(--red-delete);
		margin-left: 3px;
		margin-right: 10px;
		&:hover {
			color: var(--red-delete-hover);
		}
	}
}

.app-preloader {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	position: relative;

	&__spinner-small {
		display: block;
		position: relative;
		height: 35px;
		width: 35px;
		border: 5px solid transparent;
		border-top-color: var(--primary-hover);
		border-bottom-color: var(--primary-hover);
		border-radius: 50%;
		-webkit-animation: spinner 1.2s linear infinite;
		animation: spinner 1.2s linear infinite;
		&:after {
			content: '';
			position: absolute;
			top: 7px;
			right: 7px;
			bottom: 7px;
			left: 7px;
			border: 3px solid transparent;
			border-radius: 50%;
			background: var(--primary);
		}
	}

	&__spinner {
		display: block;
		position: relative;
		height: 80px;
		width: 80px;
		border: 10px solid transparent;
		border-top-color: var(--primary-hover);
		border-bottom-color: var(--primary-hover);
		border-radius: 50%;
		-webkit-animation: spinner 1.5s linear infinite;
		animation: spinner 1.5s linear infinite;
		&:after {
			content: '';
			position: absolute;
			top: 20px;
			right: 20px;
			bottom: 20px;
			left: 20px;
			border: 5px solid transparent;
			border-radius: 50%;
			background: var(--primary);
		}
	}

	@keyframes spinner {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		50% {
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
		}
		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}
	@-webkit-keyframes spinner {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		50% {
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
		}
		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}
}

.app-icons {
	&__list {
		display: flex;
		align-items: center;
		justify-content: left;
		flex-wrap: wrap;
		padding: 7px;
		background: var(--black);
		border-radius: var(--border-radius);
	}
	&__item {
		padding: 8px;
		margin: 3px;
		font-size: 26px;
		transition: var(--transition);
		background: var(--dark);
		border-radius: 4px;
		cursor: pointer;
		&_active {
			color: var(--grey-light);
			background: var(--primary);
			border-radius: 4px;
		}
	}
}
