// login

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.auth {
	//	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-auth {
	max-width: 520px;
	width: 520px;
	background: var(--dark);
	padding: 50px 50px;
	border-radius: 10px;
	margin: 0 20px;
}

.page-auth {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	height: 100vh;
	&__img {
		flex: 1 1 60%;
		max-width: 60%;
		background: var(--dark);
		align-self: stretch;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding-bottom: 30px;
	}
	&__logo {
		width: 250px;
		margin-bottom: 30px;
	}
	&__image {
		width: 650px;
		margin: 30px;
	}

	&__auth {
		flex: 1 1 40%;
		max-width: 40%;
		align-self: stretch;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding-bottom: 30px;
	}
}
