// UI
button,
.btn,
a.btn,
input[type='submit'],
input[type='button'] {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 48px;
	line-height: 48px;
	padding: 0 20px;
	border: none;
	border-radius: var(--border-radius);
	font-size: 15px;
	font-weight: 500;
	background: var(--primary);
	color: var(--text-bottom);
	transition: var(--transition);
	cursor: pointer;

	&:hover {
		background: var(--primary-hover);
	}
	&:active {
		background: var(--primary-hover);
	}
	&:disabled {
		opacity: 0.5;
	}
	&.btn_outline {
		background: none;
		color: var(--text-bottom-primary);
		border: 2px solid var(--primary);
		&:hover {
			color: var(--text-bottom);
			border: 2px solid var(--primary-hover);
			background: var(--primary-hover);
		}
		&:active {
			color: var(--text-bottom);
			border: 2px solid var(--primary-hover);
			background: var(--primary-hover);
		}
		&:disabled {
			opacity: 0.5;
		}
	}
	&.btn_delete {
		background: none;
		color: var(--red-delete);
		//	border: 2px solid var(--red-delete);
		opacity: 1;
		&:hover {
			color: var(--red-delete-hover);
			//		border: 2px solid var(--red-delete-hover);
			//		background: var(--red-delete-hover);
			opacity: 1;
		}
		&:active {
			color: var(--text-bottom-primary);
			//		border: 2px solid var(--red-delete);
			background: var(--red-delete);
		}
		&:disabled {
			opacity: 0.5;
		}
		i {
			font-size: 20px;
			margin-right: 7px;
		}
	}
	&.btn__icon {
		background: none;
		color: var(--primary);
		opacity: 1;
		&:hover {
			color: var(--primary-hover);
			opacity: 1;
		}
		&:active {
			color: var(--text-bottom-primary);
			background: none;
		}
		&:disabled {
			opacity: 0.5;
		}
		i {
			font-size: 24px;
			margin-right: 7px;
		}
		&_edit {
			color: var(--red-delete);
			&:hover {
				color: var(--red-delete-hover);
				opacity: 1;
			}
		}
		&_disable {
			color: var(--grey-grey-light);
			&:hover {
				color: var(--primary-hover);
				opacity: 1;
			}
		}
	}
	i {
		font-size: 20px;
		margin-right: 7px;
	}
}

// input

input {
	//  display: block;
	height: 44px;
	line-height: 44px;
	border: 1px solid var(--black);
	border-radius: 5px;
	background: var(--black);
	color: var(--grey-blue-light);
	font-family: var(--font-family);
	font-size: 14px;
	margin: 10px 0;
	padding: 0 15px;

	&::placeholder {
		color: #464d61;
	}

	&:disabled {
		background: #292929;
	}

	&._error {
		border: 2px solid tomato;
	}
}

input[type='date'] {
	&::-webkit-calendar-picker-indicator {
	}
}

// radiobutton

input[type='radio'] {
	&:checked,
	&:not(:checked) {
		position: absolute;
		left: -9999px;
		opacity: 0;
		display: none;
	}
	&:checked + label,
	&:not(:checked) + label {
		position: relative;
		padding-left: 35px;
		padding-top: 1px;
		cursor: pointer;
		display: inline-block;
		color: var(--grey-blue-light);
		transition: var(--transition);
		font-size: 15px;
		&:hover {
			color: var(--grey-light);
		}
	}
	&:checked + label:before,
	&:not(:checked) + label:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 22px;
		height: 22px;
		border: 2px solid var(--primary);
		border-radius: 100%;
		background: none;
		transition: var(--transition);
	}
	&:checked + label:after,
	&:not(:checked) + label:after {
		content: '';
		width: 12px;
		height: 12px;
		background: var(--primary);
		position: absolute;
		top: 5px;
		left: 5px;
		border-radius: 100%;
		-webkit-transition: all 0.2s ease;
		transition: all 0.2s ease;
	}
	&:not(:checked) + label:after {
		opacity: 0;
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	&:checked + label:after {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	&:disabled:not(:checked) + label:before,
	&:disabled:checked + label:before {
		border-color: #bbb;
		background-color: #e9e9e9;
	}
	&:disabled:checked + label:after {
		background-color: #777;
	}
	&:disabled + label {
		color: #aaaaaa;
		&:hover {
			color: #aaaaaa;
		}
	}
}

// checkbox
input[type='checkbox'],
input[type='checkbox'].checkbox {
	&:not(:checked),
	&:checked {
		position: absolute;
		left: -9999px;
		opacity: 0;
		display: none;
	}
	&:not(:checked) + label,
	&:checked + label {
		position: relative;
		padding-top: 1px;
		padding-left: 35px;
		cursor: pointer;
		display: inline-block;
		color: var(--grey-blue-light);
		transition: var(--transition);
		font-size: 15px;
		&:hover {
			color: var(--primary);
		}
	}
	&:not(:checked) + label:before,
	&:checked + label:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 22px;
		height: 22px;
		border: 2px solid var(--primary);
		background: none;
		border-radius: 5px;
		transition: var(--transition);
	}
	&:not(:checked) + label:after,
	&:checked + label:after {
		content: '';
		position: absolute;
		top: 5px;
		left: 5px;
		width: 12px;
		height: 8px;
		border-left: 2px solid var(--primary);
		border-bottom: 2px solid var(--primary);
		transition: var(--transition);
	}
	&:not(:checked) + label:after {
		opacity: 0;
		-webkit-transform: scale(0) rotate(-90deg);
		transform: scale(0) rotate(-90deg);
	}
	&:checked + label:after {
		opacity: 1;
		-webkit-transform: scale(1) rotate(-45deg);
		transform: scale(1) rotate(-45deg);
	}
	&:disabled:not(:checked) + label:before,
	&:disabled:checked + label:before {
		border-color: #bbb;
		background-color: #e9e9e9;
	}
	&:disabled:checked + label:after {
		border-color: #777;
	}
	&:disabled + label {
		color: #aaaaaa;
		&:hover {
			color: #aaaaaa;
		}
	}
}

// textarea

textarea {
	display: block;
	line-height: 44px;
	border: 1px solid var(--black);
	border-radius: 5px;
	background: var(--black);
	color: var(--grey-light);
	font-family: var(--font-family);
	font-size: 14px;
	margin: 10px 0;
	padding: 0 15px;

	&::placeholder {
		color: #464d61;
	}
	&:disabled {
		background: #e7e7e7;
	}
}

//form
.form {
	&_profile {
		flex-grow: 1;
		align-items: stretch;
		padding: 25px 20px 15px 20px;
		background: var(--dark);
		border-radius: var(--border-radius);
	}
	&__group {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		width: 100%;
		//margin-bottom: 14px;
	}
	&__input {
		&_max {
			flex-grow: 1;
		}
		&_icon {
			flex-grow: 1;
			background: var(--black);
			opacity: 0.7;
			cursor: default;
		}
	}

	&__group_max {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		width: 100%;
		//	margin-bottom: 14px;

		input {
			width: 100%;
			margin-right: 0;
		}

		textarea {
			width: 100%;
			margin-right: 0;
		}

		select {
			width: 100%;
			margin-right: 0;
		}

		label {
			width: 100%;
			margin-right: 0;
			margin-bottom: 0;
		}
	}

	&__required {
		color: tomato;
	}

	&__error {
		display: block;
		width: 100%;
		margin: 0;
		padding: 0 2px;
		font-size: 13px;
		color: tomato;
	}
	&__row {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		align-items: stretch;
		&_bg {
			background: var(--dark);
			border: 2px dashed var(--black);
			margin-bottom: 15px;
			padding: 25px 20px 10px 20px;
			border-radius: var(--border-radius);
		}
		&_btn {
			justify-content: end;
			background: var(--dark);
			border: 2px dashed var(--black);
			margin-bottom: 15px;
			padding: 25px 20px 25px 20px;
			border-radius: var(--border-radius);
		}
		&_info {
			justify-content: end;
			background: var(--dark);
			padding: 10px 20px 25px 10px;
			color: var(--alert-success);
		}
	}
	&__col {
		flex: 1 1 47%;
		max-width: 47%;
		margin-right: 3%;

		&:last-child {
			margin-right: 0;
			margin-left: 3%;
		}
		label {
			display: block;
			margin-bottom: 0;
		}
	}
}

// стандартный select
select {
	height: 44px;
	line-height: 44px;
	border: 1px solid var(--black);
	border-radius: 5px;
	background: var(--black);
	color: var(--grey-blue-light);
	font-family: var(--font-family);
	font-size: 14px;
	margin: 10px 0;
	padding: 0 15px;
	background-color: var(--black);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	padding-right: calc(1.5em + 1rem);
	background-position: right 0.75rem center;
	background-size: 16px 12px;
	appearance: none;
	cursor: pointer;

	&::placeholder {
		color: #ccc;
	}

	option {
		color: var(--grey-light);
		background-color: var(--black);
	}

	option.app-options-subcategory {
		color: var(--grey-grey-light);
		background-color: var(--black);
	}

	/* Remove IE arrow */
	&::-ms-expand {
		display: none;
	}

	&:disabled {
		background: #e7e7e7;
	}
}

.form-yandex-input.form-yandex-submit {
	background: none;
	&:hover {
		background: none;
	}
	&:hover {
		background: none;
	}
}
