// 404

.not-found {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	height: 100vh;

	&__img {
		flex: 1 1 60%;
		max-width: 60%;
		background: var(--bg-block);
		align-self: stretch;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding-bottom: 30px;
	}

	&__logo {
		width: 350px;
		margin-bottom: 80px;
	}
	&__image {
		max-width: 500px;
	}

	&__info {
		flex: 1 1 40%;
		max-width: 40%;
		align-self: stretch;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding-bottom: 20px;
	}

	// .not-found__title
	&__title {
		font-size: 56px;
		color: var(--link-headline);
		margin-bottom: 20px;
		font-weight: bold;
		text-align: center;
	}

	// .not-found__desc
	&__desc {
		font-size: 16px;
		color: var(--text);
		margin-bottom: 60px;
		text-align: center;
	}

	// .not-found__btn
	&__btn {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		position: relative;
		height: 48px;
		line-height: 48px;
		padding: 0 20px;
		border: none;
		border-radius: var(--border-radius);
		font-size: 15px;
		font-weight: 500;
		background: var(--primary);
		color: var(--text-bottom);
		transition: var(--transition);
		cursor: pointer;
		&:hover {
			background: var(--primary-hover);
			color: var(--text-bottom);
		}
		&:active {
			background: var(--primary-hover);
			color: var(--text-bottom);
		}
		&:disabled {
			background: var(--grey-grey-light);
			color: var(--text-bottom);
		}
	}
}
