.info-block {
	background: var(--bg-block);
	border-radius: var(--border-radius);
	padding: 26px 30px 23px 30px;
	border: 1px solid var(--border-color-sidebar);

	// .info__title
	&__title {
		color: var(--grey-grey-light);
		text-transform: uppercase;
		font-size: 16px;
		margin-bottom: 15px;
	}

	// .info__list
	&__list {
	}

	// .info__item
	&__item {
		padding: 14px 0;
		font-size: 15px;
		font-weight: 500;
		color: var(--text-sidebar);
		transition: var(--transition);
		a {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			color: var(--text-sidebar);
			transition: var(--transition);
			i {
				font-size: 24px;
				margin-right: 10px;
				transition: var(--transition);
			}

			&:hover {
				color: var(--primary);

				i {
					color: var(--primary);
				}
			}
		}
	}

	// .info__link
	&__link {
	}
}
