@media (min-width: 800px) {
	.header__menu.header__menu_open {
		display: inline-flex;
	}
}

@media (max-width: 1500px) {
	.page-auth {
		&__img {
			flex: 1 1 50%;
			max-width: 50%;
		}
		&__auth {
			flex: 1 1 50%;
			max-width: 50%;
		}

		&__image {
			width: auto;
			max-width: 80%;
			margin: 50px;
		}
	}
}

@media (max-width: 1300px) {
	.search__wrap input {
		width: 200px;
	}
}

@media (max-width: 1200px) {
	.form-auth {
		max-width: 350px;
		width: 350px;
		padding: 50px 30px;
	}
	.not-found {
		&__logo {
			max-width: 250px;
			width: auto;
			margin-bottom: 40px;
		}
		&__title {
			font-size: 36px;
		}
		&__info {
			padding: 0 20px;
		}

		&__image {
			max-width: 80%;
			width: auto;
			margin: 50px;
		}
	}
}

@media (max-width: 1000px) {
	.header__search {
		display: none;
	}
	.widgets {
		display: none;
	}
}

@media (max-width: 800px) {
	.wrapper {
		padding: 20px 5px 0px 5px;
	}
	.header__themes {
		display: none;
	}
	.header__widgets {
		display: none;
	}
	.header__setting {
		display: none;
	}
	.header__menu {
		display: inline-flex;
	}
	.widgets {
		display: none;
	}
	.form__row {
		margin-bottom: 20px;
	}
	.form__col {
		flex: 1 1 100%;
		max-width: 100%;
		margin-right: 0;
		margin-left: 0;
	}
	.form__col:last-child {
		margin-left: 0;
	}
	.modal {
		z-index: 999999;
		&__dialog {
			z-index: 999999;
			padding: 15px 0 15px 0;
		}
		&__footer {
			//	border-radius: var(--border-radius);
			justify-content: center;
			position: relative;
			bottom: auto;
			left: auto;
			border-top: none;
		}
		&__header {
			padding: 5px 20px 10px 20px !important;
		}
		&__body {
			overflow-y: auto;
			max-height: none;
			margin-bottom: 5px;
			padding: 5px 20px !important;
		}
		&__form {
			max-height: 90vh;
			overflow-y: auto;
		}
	}
}

@media (max-width: 700px) {
	.page-auth {
		height: auto;
		padding-top: 30px;
		&__img {
			display: none;
		}
		&__auth {
			flex: 1 1 100%;
			max-width: 100%;
		}
	}
	.form-auth {
		margin: 0 5px;
		max-width: 300px;
		width: 300px;
	}

	.not-found {
		height: auto;
		padding-top: 50px;
		&__img {
			display: none;
		}
		&__info {
			flex: 1 1 100%;
			max-width: 100%;
		}
		&__title {
			font-size: 36px;
		}
	}
	.sidebar {
		position: absolute;
		top: 0px;
		left: 0;
		z-index: 99;
		border-radius: var(--border-radius);
		background: var(--bg-block);
		height: 100%;
		box-shadow: 3px 1px 11px 9px rgba(0, 0, 0, 0.15);
	}
	.sidebar__category {
		margin-bottom: 5px;
	}
	.category {
		border: none;
	}
	.info-block {
		border: none;
	}
}

@media (max-width: 650px) {
	.header {
		flex-wrap: wrap;
		padding: 5px 15px;
	}
	.header__left {
		justify-content: center;
		flex: 1 100%;
		max-width: 100%;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.header__account {
		flex: 1 100%;
		max-width: 100%;
	}
}

@media (max-width: 500px) {
	.list__title {
		flex: 1 200px;
		max-width: 200px;
	}
	.main__title {
		font-size: 22px;
		line-height: 28px;
	}
	.switcher {
		&__grid {
			width: 32px;
			height: 32px;
			margin-right: 8px;
			line-height: 32px;
			padding: 0px;
			i {
				font-size: 16px;
			}
		}
		&__list {
			width: 32px;
			height: 32px;
			margin-right: 8px;
			line-height: 32px;
			padding: 0px;
			i {
				font-size: 16px;
			}
		}
	}
}

@media (max-width: 450px) {
	.list__title {
		flex: 1 100%;
		max-width: 100%;
	}
	.list__desc {
		display: none;
	}
}

@media (max-width: 380px) {
	.main__title {
		font-size: 18px;
		line-height: 20px;
	}
	.user__name {
		display: none;
	}
}
