.sidebar {
	width: 100%;
	max-width: 280px;
	margin-right: 28px;

	// .sidebar__category
	&__category {
		margin-bottom: 40px;
	}

	// .sidebar__info

	&__info {
	}
}

.category {
	background: var(--dark);
	border-radius: var(--border-radius);
	padding: 10px 0 10px 0;
	border: 1px solid var(--border-color-sidebar);

	// .category__list
	&__list {
	}

	// .category__item
	&__item {
		position: relative;
		font-size: 16px;
		font-weight: 500;
		color: var(--grey-blue-light);
		transition: var(--transition);
		padding: 0 0 0 0;
		cursor: pointer;

		a {
			position: relative;
			z-index: 1;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			padding: 14px 30px;
			color: var(--grey-blue-light);
			border-left: 4px solid var(--dark);
			background: var(--dark);
			transition: var(--transition);
			&.router-link-active {
				color: var(--primary);
				background: var(--black);
				border-left: 4px solid var(--primary);
				transition: var(--transition);
			}
			i {
				font-size: 24px;
				margin-right: 10px;
				transition: var(--transition);
			}
			span {
				flex-grow: 1;
			}
		}

		&:hover {
			//		padding-left: 34px;
			background: var(--black);
			//		border-left: 4px solid var(--primary);
			a {
				color: var(--primary);
				i {
					color: var(--primary);
				}
			}
		}
		&_trash {
			color: var(--alert-warning);
			a {
				color: var(--alert-warning);
				i {
					color: var(--alert-warning);
				}
			}
		}

		&.active {
			padding-left: 34px;
			background: var(--black);
			border-left: 4px solid var(--primary);
			a {
				color: var(--primary);
				i {
					color: var(--primary);
				}
			}
		}
	}

	// .category__add
	&__add {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 14px 30px 14px 10px;
		font-size: 12px;
		color: var(--grey-grey-light);
		transition: var(--transition);
		cursor: pointer;

		i {
			font-size: 16px;
			margin-right: 5px;
			transition: var(--transition);
		}

		&:hover {
			color: var(--primary);
			//		background: var(--black);
			i {
				color: var(--primary);
			}
		}
	}

	// .category__link
	&__link {
	}
	.router-link-active {
	}
}
